<header class="site-header">
  <div class="header__bar">
    <a class="header__logo" href="{{ '/' | relative_url }}">
      <span class="header__logo-icon" aria-hidden="true"><i class="fa fa-home"></i></span>
      <span class="header__logo-text">Huseyn Huseynzada</span>
    </a>
    <div class="header__actions">
      <button
        class="header__theme-toggle"
        type="button"
        data-theme-toggle
        aria-pressed="false"
        aria-label="Toggle dark mode"
      >
        <span class="header__theme-icon" aria-hidden="true">☀</span>
        <span class="header__theme-label">Light</span>
      </button>
      <button
        class="header__snow"
        type="button"
        data-snow-button
        aria-label="Let it snow"
      >
        <svg class="header__snow-icon" viewBox="0 0 24 24" role="img" aria-hidden="true">
          <path
            d="M12 2.75a.75.75 0 0 1 .75.75v2.16l1.6-.92a.75.75 0 0 1 .74 1.3L13.5 8l1.59.92 2.13-1.23a.75.75 0 1 1 .74 1.3L16.5 10l1.16.67 2.34-1.35a.75.75 0 1 1 .74 1.3l-1.6.92 1.6.92a.75.75 0 1 1-.74 1.3L17.66 13 16.5 13.67l2.13 1.23a.75.75 0 0 1-.74 1.3l-2.13-1.23L13.5 16l1.59.92 1.59-.92a.75.75 0 1 1 .74 1.3l-1.6.92 1.6.92a.75.75 0 0 1-.74 1.3l-2.34-1.35L16.5 20l1.6.92a.75.75 0 1 1-.74 1.3l-2.13-1.23L13.5 21v2a.75.75 0 0 1-1.5 0v-2l-1.73 1a.75.75 0 1 1-.74-1.3l1.6-.92L9.5 20l-2.13 1.23a.75.75 0 0 1-.74-1.3L8.22 19 6.5 18l-1.73 1a.75.75 0 1 1-.74-1.3l1.6-.92-1.6-.92a.75.75 0 1 1 .74-1.3L6.5 14l1.16-.67-2.13-1.23a.75.75 0 1 1 .74-1.3L6.5 12l-1.16-.67-2.34 1.35a.75.75 0 1 1-.74-1.3l1.6-.92-1.6-.92a.75.75 0 1 1 .74-1.3l2.34 1.35L6.5 10l1.16-.67-2.13-1.23a.75.75 0 1 1 .74-1.3L9.5 8l-1.59-.92-1.59.92a.75.75 0 1 1-.74-1.3l1.6-.92-1.6-.92a.75.75 0 0 1 .74-1.3l2.34 1.35L9.5 6V3.5a.75.75 0 0 1 .75-.75Zm0 7a1.75 1.75 0 1 0 0 3.5 1.75 1.75 0 0 0 0-3.5Z"
          />
        </svg>
      </button>
      <button
        class="header__menu-toggle"
        type="button"
        data-menu-toggle
        aria-controls="primary-navigation"
        aria-expanded="false"
      >
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
        <span class="header__menu-text">Menu</span>
      </button>
    </div>
    <div class="header__search" role="search">
      <label class="header__search-label" for="site-search">Search</label>
      <input
        id="site-search"
        class="header__search-input"
        type="search"
        placeholder="Search..."
        autocomplete="off"
      />
      <ul class="header__search-results" data-search-results></ul>
    </div>
  </div>
  <nav
    id="primary-navigation"
    class="header__nav nav"
    aria-label="Primary navigation"
  >
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="{{ '/' | relative_url }}">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/about.html' | relative_url }}">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/projects.html' | relative_url }}"
          >Projects</a
        >
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/books.html' | relative_url }}">Books</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/art.html' | relative_url }}">Art</a>
      </li>
      <li class="nav__item">
        <a
          class="nav__link{% if page.url == '/contact.html' %} nav__link--active{% endif %}"
          href="{{ '/contact.html' | relative_url }}"
          >Contact</a
        >
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/courses.html' | relative_url }}">Courses</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="{{ '/resume.html' | relative_url }}"
          >Resume</a
        >
      </li>
    </ul>
  </nav>
</header>
